.box {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    width: 200px;
    line-height: 200px;
    text-align: center;
    border: 4px dotted blue;
}
