h2 {
margin: 10px;
margin-left: 42%;

}
p {
margin: 10%;
margin-left: 33%;
margin-right:40%;
padding: 5px;
background: #facafa;
border: 3px solid #666666
}

.footer {
position: fixed;
left: 0;
bottom: 0;
background: rgb(112, 245, 112);
padding: 5px;
width: 100%;


}
